header{    
    background: var(--header-background-gradient);
    width: 100%;
}
.header-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 10px 20px;
}
.header-item{
    display: flex;
    align-items: center;
}
.home{
    color:var(--home-logo);
    border-right: 1px solid var(--yellow);
    font-style: oblique;
    font-size: 25px;
    margin-right: 10px;
    padding-right: 10px;
}
/*Search*/
.search-container{
    width: 200px;
    position: relative;
}
.search-dropdown{
    background-color: white;
    width: 100%;
    max-height: 150px;
    position: absolute;
    overflow-y: scroll;
    visibility: hidden;
}
#search{
    width: 100%;
    padding: 10px;
    outline: none;
    border:  none;
    text-decoration: none;
}
.search-row{
    cursor: pointer;
    padding: 10px;
}
.search-row-empty{
    padding: 10px;
}
.search-row:hover{
    background: var(--header-background-gradient);
    color: white;
}
/* Scroll */
.search-dropdown::-webkit-scrollbar {  
    width: 5px;
}
.search-dropdown::-webkit-scrollbar-thumb {
    background: var(--header-background-gradient);
}
/*DropDown*/
.dropdown {
    display: flex;
    align-items: center;
}
#login, #other{
    width: 120px;
    margin-right: 10px;
}
.fa-sign-out-alt{
    color: var(--yellow);
    cursor:pointer;
    visibility: hidden;
}
.dropdown-content {
    width: 120px;
    position: absolute;
    display: none;
}
.dropdown:hover .dropdown-content {
    display: block;
}

@media only screen and (max-width: 600px) {
    .search-container{
        width: 100px;
    }
}