header{
    /* border: 1px solid black; */
    width: 100%;
    /* background: #0099ff; */
    background: var(--header-background-gradient);
}
.header-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 10px 20px;
}
.header-item{
    display: flex;
    align-items: center;
}
.home{
    font-style: oblique;
    font-size: 25px;
    color:var(--home-logo);
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid var(--yellow);
}
/*Search*/
.search-container{
    width: 200px;
    position: relative;
}
.search-dropdown{
    width: 100%;
    background-color: white;
    position: absolute;
    max-height: 150px;
    overflow-y: scroll;
    visibility: hidden;
}
#search{
    width: 100%;
    padding: 10px;
    outline: none;
    border:  none;
    border-radius: 15px;
    text-decoration: none;
}
.search-row{
    cursor: pointer;
    padding: 10px;
    /* padding-left: 6px; */
}
.search-row:hover{
    background: var(--header-background-gradient);
    color: white;
}
/* Scroll */
/* width */
.search-dropdown::-webkit-scrollbar {
    width: 5px;
  }
  .search-dropdown::-webkit-scrollbar-thumb {
    background: white;
}



  
/*DropDown*/
.dropdown {
    /* position: relative; */
    display: flex;
    align-items: center;
}
#login{
    /* display: block; */
    width: 120px;
    margin-right: 10px;
}
.fa-sign-out-alt{
    color: var(--yellow);
    cursor:pointer;
    /* display: none; */
    visibility: hidden;
}
.dropdown-content {
    width: 120px;
    position: absolute;
    display: none;
}
.dropdown:hover .dropdown-content {
    display: block;
}