*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
:root{
    --button-color:#5499C7;
    --button-color:#F7882F;
    --yellow: #fde23e;
    --button-color: linear-gradient(135deg, #f7b74e 0%,#fde23e 100%);
    --button-color-hover: linear-gradient(135deg,  #fde23e 0%, #f7b74e 100%);
    --my-blue: #36289b;
    --header-background-color:#3E3E3E;
    --header-background-gradient: linear-gradient(45deg, #1f1e1e 0%,#36289b 100%);
    --footer-background-color:linear-gradient(45deg, #34ecf0 1%,#a944d0 100%);
    --text-color-black: black;
    --text-color-white: white;
    --welcome-title: black;
    --welcome-text: black;  
    --home-logo: white;
}
.container{
    width: 100%;
}
a{
    text-decoration: none;
}
main{
   min-height: 700px;
   margin-bottom: 30px;
}
/* Welcome */
.welcome{
    background: var(--background-color);
    padding-top: 50px;
    padding-bottom: 30px;
    margin-bottom: 50px;
}
.welcome-items{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}
.welcome-block{
    width: 350px;   
    border-bottom: 3px solid #F0B20E;
    border-bottom: 3px solid var(--my-blue);
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 25px;
}
.welcome-title{
    font-family: 'Zapf Chancery';
    color:var(--welcome-title);
    margin-bottom: 20px;
}
.welcome-text{
    font-style: italic;
    font-family: 'Andale Mono';
    font-size: 18px;
    margin-bottom: 20px;
    color:var(--welcome-text);
}
.welcome-video{
    border-radius: 25px;
}
/* Image Inputs  */
.image-items{
    margin-left: auto;
    margin-right: auto;
    padding:10px;
    width: 1200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.image-item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 550px;
    height: 350px;
    margin-bottom: 50px;   
}
.image-preview{
    border: 1px solid black;
    border-radius: 25px;
    width: 100%;
    height: 100%;
    margin-bottom: 5px;
    overflow: hidden;
    border: 2px solid #dddddd;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color:var(--text-color);
    transition: border-color .9s;
}
.image-preview:hover{
    border-color: #1B0D79;
}
.input-img, .output-img{
    max-width: 100%;
    max-height: 100%;
    display: none;
}
.preview-text{
    cursor: pointer;
}
.preview-text.not{
    cursor: alias;
}
.image-input{
    height: 30px;
    display: none;
}
.result-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.app-button{
    padding: 10px;
    background: var(--button-color);    
    color: var(--text-color-black);
    font-style: oblique;
    text-align: center;
    border: none;
    outline: none;
    border-radius: 20px;
    cursor: pointer;
}
.app-button:hover{
    background: var(--button-color-hover);   
}
#generate{
    width: 100px;
}
#save { 
    width: 100px;
    margin-bottom: 0px;    
    display: none;
}
#save-check{
    visibility: hidden;
}
.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid var(--yellow);
    width: 15px;
    height: 15px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    visibility: hidden;
}
.generate-loading-wrap{
    width: 200px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    padding-left: 50px;
}
/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.displayed {
    display: block;
}
.none{
    display: none;
}
/* Responsive */
@media only screen and (min-height: 650px) {
    main{
        min-height: 1000px;
    }
}
@media only screen and (max-width: 1300px) {
    .image-items{
        width: 100%;
    }
}
@media only screen and (max-width: 1200px) {
    .image-items{
        flex-wrap: nowrap;
        flex-direction: column;
    }
}
@media only screen and (max-width: 1050px) {
    .welcome-items{
        flex-direction: column;
    }
    .welcome-block{
        margin-bottom: 40px;
    }
}
@media only screen and (max-width: 700px) {
    .welcome-video{
        width: 500px;
    }
}
@media only screen and (max-width: 600px) {
    .welcome-video, .image-item{
        width: 95%;
    }
    .result-wrap{
        width: 100%;
    }
}