.login-section{
    margin-top: 50px;
}
.login-items{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.login-background{
    width: 500px;
    height: 400px;
    background-image: url('../image/login.png');
    background-position: center; 
    background-size: cover; 
}
.login-form{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 300px;
    justify-content: space-evenly;
}
.login-title{
    font-size: 20px;
    text-align: center;
}
.login-input{
    width: 100%;
    border-radius: 20px;
    padding: 12px;
    font-size: 14px;
    background-color: #dddddd;
    
    border:none;
    outline: none;
}
#sign-in{
    width: 100%;
    border-radius: 20px;
}