.profile-section{
    background: #f1f1f1;
}
.profile-items{
    width: 100%;
    padding: 15px;
    padding-right: 0px;
    display: flex;
    min-height: 600px;
}
.info-container, .catalog{
    box-shadow: 5px 10px 8px #888888;
    background:white;
}
.info-container{
    width: 23%;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}
.picture-container{
    width: 100%;
}
.profile-picture{
    border-radius: 5px;
    /* width: 100%; */
    height: 250px;
    /* background-size: cover;  */
    /* background-repeat: no-repeat; */
    background-position: center;
    margin-bottom: 10px;
    background-size: auto 100%;
    background-repeat: no-repeat;
    /* background-position: left top; */
}
.user-info{
    padding-left: 10px;
}
.profile-username{
    color: rgb(24, 23, 23);
    font-weight: bold;
    font-style: oblique;
}
.fullName{
    color: rgb(24, 23, 23);
    margin-top: 10px;
    display: flex;
    font-weight: bold;
}
.profile-name{
    margin-right: 5px;
}
.profile-item{
    width: 77%;
    margin-right: 10px;
}
.catalog{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    width: 100%;
    height: 600px;
}
.row:first-child{
    padding-top: 0px;
}
.row{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
    width: 100%;
}
.row-picture{
    width: 32%;
    height: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.row-picture:last-child{
    margin-right: 0px;
}
.fal.fa-times{
    width: 30px;
    height: 30px;
    color:red;
    display: block;
    visibility: visible;
}
.remove-row{
    right: 15px;
    top:10px;
    width: 25px;
    height: 25px;
    display: flex; 
    justify-content: center;
    align-items: center;
    background: black;
    border:2px solid black;
    border-radius: 50%;
    position: absolute;
    cursor: pointer;
}
.fa-trash{
    color: white;
    display: block;
}
.image-open{
    position: absolute;
    transform: scale(3);
}
.catalog::-webkit-scrollbar {
    width: 10px;
}
.catalog::-webkit-scrollbar-thumb {
    background: var(--header-background-gradient);
    border-radius: 10px;
}
/*Edit Profile*/
#edit-profile-btn, #delete-account{
    width: 150px;
    text-align: center;
    margin-top: 20px;
}
#delete-account{
    background-color: red;
}
.modal, .image-open{
    display: none;
    height: 0;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: #dddddd; 
    background-color: rgba(0,0,0,0.4); 
}
.edit-container{
    margin: auto;
    margin-top: 200px;
    border-radius: 25px;
    background-color: white;
    width: 400px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.edit-row{
    padding: 5px;
    max-width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
.edit-input{
    border: 1px solid grey;
    border-radius: 5px;
    outline: none;
    padding: 5px;
}
.edit-password{
    position: relative;
}
.edit-password.fas{
    top: 6px;
    right: 10px;
}
#edit-alert{
    visibility: hidden;
    margin-top: 10px;
    margin-left: 15px;
    padding-left: 5px;
    font-size: 15px;
}
#save-change{
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}

.load-wrap{
    margin: auto;
    display: flex;
    margin-bottom: 10px;
    justify-content: center;
}
#load-more-catalog{
    width: 150px;  
    margin-right: 10px;
}
.empty-catalog{
    margin: 20px;
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
    color: var(--my-blue);
}
#profile-loader{
    visibility: hidden;
}
/* Responsive */
@media only screen and (min-height: 800px) {
    .info-container{
        width: 20%;
    }
    .profile-item{
        width: 79%;
    }
    .profile-items{
        min-height: 950px;
    }
    .catalog{
        height: 950px;
    }
}
@media only screen and (max-width: 1000px) {
    .profile-items{
        flex-direction: column;
        align-items: center;   
    }
    .info-container{  
        flex-direction: row; 
        width: 800px;
        height: auto;
        margin-bottom: 30px;
        margin-right: auto;
        margin-left: auto;
    }
    .picture-container{
        width: 100%;
        height: 300px;
    }
    .profile-picture{
        height: 100%;
    }
    .user-info{
        padding-top: 30px;
        padding-left: 15px;
        width: 300px;
    }
    .profile-item{
        margin-right: auto;
        margin-left: auto;
        width: 800px;
    }
    .catalog{
        width: 100%;
        height: auto;
    }
} 
@media only screen and (max-width: 850px) {
    .info-container, .profile-item{
        width: 100%;
    }
    .profile-items{
        padding-right: 15px;
    }
}
@media only screen and (max-width: 450px) {
    .edit-container{
        width: 350px;
    }
    #edit-profile-btn, #delete-account{
        width: 130px;
    }
}