.profile-section{
    background: #f1f1f1;
}
.profile-items{
    width: 100%;
    padding: 15px;
    display: flex;
    min-height: 600px;
}
.info-container, .catalog{
    box-shadow: 5px 10px 8px #888888;
    background:white;
}
.info-container{
    width: 25%;
    display: flex;
    flex-direction: column;
    margin-right: 25px;
}
.profile-picture{
    width: 100%;
    height: 250px;
    background-size: cover; /* Resize the background image to cover the entire container */
    background-position: center;
    margin-bottom: 10px;
}
.fullName{
    margin-top: 10px;
    display: flex;
}
.profile-name{
    margin-right: 5px;
}
.profile-item{
    width: 70%;

}
.catalog{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    width: 100%;
    height: 600px;
}
.row:first-child{
    padding-top: 0px;
}
.row{
    display: flex;
    margin-bottom: 15px;
    width: 100%;
    
}
.row-picture{
    width: 32%;
    height: auto;
    /* height: 250px; */
    margin-right: 15px;

    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.row-picture:last-child{
    margin-right: 0px;
}


/*
Edit Profile
*/
#edit-profile-btn{
    margin-top: 20px;
}
.edit-container{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.edit-row{
    max-width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 15px;
    margin-bottom: 10px;
}
.edit-field-title{
    
}
.edit-input{
    border: 1px solid grey;
    border-radius: 5px;
    outline: none;
    padding: 5px;
}
.edit-password{
    position: relative;
}
.edit-password > .fas{
    top: 6px;
    right: 10px;
}
#edit-alert{
    visibility: hidden;
    margin-top: 10px;
    margin-left: 15px;
    
    font-size: 15px;
}
/* 

@media only screen and (max-width: 1250px) {
    .row-picture{
        width: 256px;
        height: 256px;
    }
    .info-container{
        width: 250px;
    }
}

@media only screen and (max-width: 1150px) {
    .row-picture{
        width: 210px;
        height: 210px;
    }
    .info-container{
        width: 220px;
    }
}
*/


@media only screen and (min-height: 800px) {
    .profile-items{
        min-height: 950px;
    }
    .catalog{
        height: 950px;
    }
}

@media only screen and (max-width: 1150px) {
    .row-picture{
        width: 31%;
    }
}
@media only screen and (max-width: 950px) {
    .profile-items{
        flex-direction: column;
        align-items: center;
        
    }
    .catalog{
        width: 100%;
    }
    .info-container{   
        width: 500px;
        height: auto;
        margin-bottom: 30px;
    }
    .profile-picture{

        height: 300px;
    }
} 