.profile-section{
    background: #f1f1f1;
}
.profile-items{
    width: 100%;
    padding: 15px;
    padding-right: 0px;
    display: flex;
    min-height: 600px;
}
.info-container, .catalog{
    box-shadow: 5px 10px 8px #888888;
    background:white;
}
.info-container{
    width: 25%;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}
.picture-container{
    width: 100%;
}
.profile-picture{
    border-radius: 5px;
    width: 100%;
    height: 250px;
    background-size: cover; /* Resize the background image to cover the entire container */
      background-repeat: no-repeat;

    background-position: center;
    margin-bottom: 10px;
}
.user-info{
    padding-left: 10px;
}
.profile-username{
    color: rgb(24, 23, 23);
    font-weight: bold;
    font-style: oblique;
}
.fullName{
    color: rgb(24, 23, 23);
    margin-top: 10px;
    display: flex;
    font-weight: bold;
}
.profile-name{
    margin-right: 5px;
}
.profile-item{
    width: 75%;
    margin-right: 10px;
}
.catalog{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    width: 100%;
    height: 600px;
}
.row:first-child{
    padding-top: 0px;
}
.row{
    display: flex;
    margin-bottom: 15px;
    width: 100%;
}
.row-picture{
    width: 32%;
    height: auto;
    /* height: 250px; */
    margin-right: 15px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.row-picture:last-child{
    margin-right: 0px;
}
.fal.fa-times{
    width: 30px;
    height: 30px;
    color:red;
    display: block;
    visibility: visible;
}
.image-open{
    position: absolute;
    /* animation: scaleUp .2s forwards linear; */
    transform: scale(3);
}
.catalog::-webkit-scrollbar {
    width: 10px;
   
}
/* Handle */
.catalog::-webkit-scrollbar-thumb {
    background: var(--header-background-gradient);
    border-radius: 10px;
}

/*
Edit Profile
*/
#edit-profile-btn{
    margin-top: 20px;
}
.modal, .image-open{
    display: none;
    height: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #dddddd; /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    /* opacity: 0; */
    /* transition: all 2.5s linear; */
}
.edit-container{
    margin: auto;
    margin-top: 200px;
    border-radius: 25px;
    background-color: white;
    width: 400px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.edit-row{
    
    padding: 5px;
    max-width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    margin-bottom: 10px;
}
.edit-field-title{
    
}
.edit-input{
    border: 1px solid grey;
    border-radius: 5px;
    outline: none;
    padding: 5px;
}
.edit-password{
    position: relative;
}
.edit-password.fas{
    top: 6px;
    right: 10px;
}
#edit-alert{
    visibility: hidden;
    margin-top: 10px;
    margin-left: 15px;
    padding-left: 5px;
    font-size: 15px;
}
#save-change{
margin-left: auto;
margin-right: auto;
    width: 200px;
}
.load-wrap{
    margin: auto;
    display: flex;
    margin-bottom: 10px;
}
#load-more-catalog{
    width: 150px;  
    margin-right: 10px;
}
.empty-catalog{
    margin: 20px;
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
    color: var(--my-blue);
}
#profile-loader{
    visibility: hidden;
}
/* 

@media only screen and (max-width: 1250px) {
    .row-picture{
        width: 256px;
        height: 256px;
    }
    .info-container{
        width: 250px;
    }
}

@media only screen and (max-width: 1150px) {
    .row-picture{
        width: 210px;
        height: 210px;
    }
    .info-container{
        width: 220px;
    }
}
*/

/* Responsive */
@media only screen and (min-height: 800px) {
    .profile-items{
        min-height: 950px;
    }
    .catalog{
        height: 950px;
    }
}

@media only screen and (max-width: 1150px) {
    .row-picture{
        width: 31%;
    }
}
@media only screen and (max-width: 1000px) {
    .profile-items{
        flex-direction: column;
        align-items: center;   
    }
    .info-container{  
        flex-direction: row; 
        width: 800px;
        height: auto;
        margin-bottom: 30px;
        margin-right: auto;
        margin-left: auto;
    }
    .picture-container{
        width: 100%;
        height: 300px;
    }
    .profile-picture{
        height: 100%;
    }
    .user-info{
        padding-top: 30px;
        padding-left: 15px;
        width: 300px;
    }
    .profile-item{
        margin-right: auto;
        margin-left: auto;
        width: 800px;
    }
    .catalog{
        width: 100%;
        height: auto;
    }
} 
@media only screen and (max-width: 850px) {
    .info-container, .profile-item{
        width: 100%;
    }
    .profile-items{
        padding-right: 15px;
    }
}