.login-section{
    margin-top: 50px;
}
.login-items{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.sign-form{
    /* padding: 30px; */
    width: 320px;
    height: 350px;
    padding-right: 20px;
    padding-left: 20px;
}
.sign-navigation{
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.sign-title{
    padding:5px;
    font-size: 17px;
    text-align: center;
    width: 100px;
    border-radius: 20px;
    cursor: pointer;
    border: none;
    outline: none;
    
}
.chosen{
    background-position:100px;  

    background: var(--button-color);
    transition: all .5s;
    color: white;
}
.form-changer{
    display: flex;
    position: relative;
    overflow: hidden;
    
    height: 100%;
}
.login-form, .register-form{
    padding: 10px;
    margin-right: 5px;
    display: flex;
    flex-direction: column;
    width: 100%;
    transition: left 0.3s ease;
}
.sign-input{
    width: 100%;
    border-radius: 20px;
    padding: 12px;
    font-size: 14px;
    background-color: #dddddd;
    margin-bottom: 25px;
    border:none;
    outline: none;
}
#sign-in{
    width: 100%;
    border-radius: 20px;
}
.sign-input{
    
}
.login-form{
    left: 0%;
    position: absolute;

}
.register-form{
    left: 100%;
    position: absolute;
    /* display: none; */

   
}

.username-box, .password-box{
    position: relative;
}
.fa-check, .fa-times{
    position: absolute;
    right: 17px;
    top: 12px;
    visibility: hidden;
}
.fa-check{
    color: green;
}
.fa-times{
    color: red;
}
.fa-eye, .fa-eye-slash{
    cursor: pointer;
    position: absolute;
    right: 17px;
    top: 12px;
    display: none;
}
.fa-eye-slash{
    display: block;
}

#sign-alert{
    margin-top: 10px;
    text-align: center;
    color: red;
    font-size: 15px;
}